body
  {
    background-color: #FFAAAA;  
    margin-top: 3%; 
    margin-right: 5%; 
    margin-bottom: 0%; 
    margin-left: 5%; 
  }
p
  {
    color: #3a1be3;
    font-family: Arial;
    font-size: 100%;
  }
