
* 
  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body 
  {
  display: flex;
  min-height: 100vh;    
  background-color: #2b2b2b; 
  color: #dadada;
  }
p
  {
  font-family: Arial;
  font-size: 100%;
  }
  .container 
  {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  }
  .chart
  {
padding: 2rem;
border: 1px solid #f49131;
border-radius: 1rem;
background-color: #251c35;
box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
  }
  .expdiv1
  {
background-color: #6e6e6e;
margin-right: 5%;
margin-left: 5%;
margin-top: 0;
margin-bottom: 0;
width: 270%;
  }  
  .expdiv2
  {
background-color: #63cb5f;
border-radius: 3%;
width: 40%;
height: 400pt;       
margin-right: 6%;
 
  }  
  .expdiv3
  {
background-color: #FFFFFF;
border-radius: 3%;
  }